<div class="fullheight flexbox flexcolumn">
    <div class="flexgrow1 flexbox flexcenter flexmiddle" style="background-color: #dbefdc;">
        <div>
            @for (ronde of rondes; track $index) {
                <div>
                    @if ($index == 0) {
                        <app-ronde-view [ronde]="ronde" [prevRonde]="dummy" [btnPressed]="rondeButtonPressedIds[0]"
                                    (plannenClicked)="plannenClicked($event)" (spelenClicked)="spelenClicked($event)"></app-ronde-view>
                    }
                    @else {
                        <app-ronde-view [ronde]="ronde" [prevRonde]="rondes[$index - 1]" [btnPressed]="rondeButtonPressedIds[$index]"
                                    (plannenClicked)="plannenClicked($event)" (spelenClicked)="spelenClicked($event)"></app-ronde-view>
                    }
                </div>
            }
        </div>
    </div>
</div>
