@if (viewType == 'row') {
    <div class="sectie-speeldag" [ngClass]="{'selected': selected}">
        <div class="flexbox flexmiddle">
            <div class="dagnaam" (click)="dagClicked()">
                <span title="Selecteer deze speeldag">{{speelDag.dagNaam}}</span>
            </div>
            <div class="dagdatum">
                @if (speelDag.mogelijkeData.length) {
                    <select [(ngModel)]="speelDag.dagDatum" (change)="datumGewijzigd()">
                        <option value=""></option>
                        @for (opt of speelDag.mogelijkeData; track $index) {
                            <option [ngValue]="opt">{{opt}}</option>
                        }
                    </select>
                }
                @else {
                    <span>{{dater.dateReverse(speelDag.dagDatum)}}</span>
                }
            </div>
            <div class="flexgrow1 flexbox">
                @for (match of speelDag.dagMatches; track $index) {
                    <div class="flex25perc container-match">
                        <div class="sectie-match flexbox" [ngClass]="{'selected': selected && $index == idxMatch}"
                                    [title]="match.splKoppelId == '' ? '' : 'Match verwijderen'" (click)="matchClicked($index)">
                            <div class="flex50perc container-koppel">
                                <div class="sectie-koppel">
                                    <div>{{match.splKoppel.koppel.spelers[0].splNaam || nbs}}</div>
                                    <div>{{match.splKoppel.koppel.spelers[1].splNaam || nbs}}</div>
                                </div>
                            </div>
                            <div class="flex50perc container-koppel">
                                <div class="sectie-koppel">
                                    <div>{{match.tegKoppel.koppel.spelers[0].splNaam || nbs}}</div>
                                    <div>{{match.tegKoppel.koppel.spelers[1].splNaam || nbs}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @empty {
                    <div style="font-size: .75em; padding-left: .25em;">
                        <span>Nog geen matches</span>
                    </div>
                }
            </div>
            <div class="trash" (click)="verwijderenClicked()" title="Verwijder deze speeldag">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </div>
}
