.poule-container {
    width: 50%;
    padding: .5em 1em 0 2em;
}
.poule-container.even {
    padding: .5em 2em 0 1em;
}

.poule-view {
    border: 4px solid white;
    border-radius: .75em;
}
.poule-view.selected {
    border-color: red;
}
