<div class="fullheight flexbox flexcolumn">
    <div class="flexgrow1 flexbox flexstretch" style="overflow: hidden;">
        @for (kpd of koppelsPerDagen; track $index) {
            <div class="flex25perc flexbox flexcolumn kpd-kolom">
                <div class="kpd-title">
                    <span>{{kpd.dagNaam}}</span>
                </div>
                <div class="flexgrow1 kpd-body" style="overflow-y: scroll; font-size: .5em; line-height: 1.3;">
                    <div class="koppel-first">
                        @for (koppel of kpd.koppelsFirst; track $index) {
                            <div class="koppel-row" [ngClass]="{'selected': $index == kpd.idxFirst}">
                                <app-koppel-row [koppel]="koppel" [view]="'short'" 
                                        (clicked)="koppelClicked($event, kpd)" (hovered)="koppelHovered($event)"></app-koppel-row>
                            </div>
                        }
                    </div>
                    <div class="koppel-second">
                        @for (koppel of kpd.koppelsSecond; track $index) {
                            <div class="koppel-row" [ngClass]="{'selected': $index == kpd.idxSecond}">
                                <app-koppel-row [koppel]="koppel" [view]="'short'" 
                                        (clicked)="koppelClicked($event, kpd)" (hovered)="koppelHovered($event)"></app-koppel-row>
                            </div>
                        }
                    </div>
                    <div class="koppel-rest">
                        @for (koppel of kpd.koppelsRest; track $index) {
                            <div class="koppel-row" [ngClass]="{'selected': $index == kpd.idxRest}">
                                <app-koppel-row [koppel]="koppel" [view]="'short'" 
                                        (clicked)="koppelClicked($event, kpd)" (hovered)="koppelHovered($event)"></app-koppel-row>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        <div class="kpd-title">
            <span>Poules</span>
        </div>
        <div class="flexbox flexstart wrap" [style.min-height]="pouleRonde.poules.length <= 4 ? '4.375em' : '8.75em'">
            @for (poule of pouleRonde.poules; track $index) {
                <div style="width: 15em; padding: .125em .25em;">
                    <div style="font-size: .5em;">
                        <app-ronde-poule-view [poule]="poule" [idxKoppel]="-1" [koppelClick]="true" 
                                    [pouleCheck]="true" [maxKoppels]="config.maxKoppelsPerPoule"
                                    (koppelClicked)="removeKoppelFromPoule($index, $event)"
                                    (deletePouleClicked)="removePoule($index)"></app-ronde-poule-view>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="flexbox flexcenter flexmiddle" style="font-size: .75em; min-height: 3em; border-top: .125em solid black;">
        @if (poulesOk) {
            @if (touched) {
                <div>
                    <app-button [button]="btnSave" (btnClicked)="opslaanClicked()"></app-button>
                </div>
                <div>
                    <app-button [button]="btnSaveNext" (btnClicked)="opslaanClicked(true)"></app-button>
                </div>
            }
            @else {
                <div>
                    <app-button [button]="btnNext" (btnClicked)="nextClicked()"></app-button>
                </div>
            }
        }
        @else {
            <div>
                <app-button [button]="btnSave" [disabled]="!touched" (btnClicked)="opslaanClicked()"></app-button>
            </div>
        }
    </div>
</div>
