<div class="fullheight flexbox flexcolumn" style="font-size: .75em;">
    <div class="flexgrow1" style="background-color: #b7dfb8;">
        <div style="min-height: 10em;" class="flexbox flexcenter flexmiddle">
            <div>
                <app-koppel-row [koppel]="koppel" [view]="'combined'" [selectable]="false"></app-koppel-row>
            </div>
        </div>
        <div class="flexbox flexcenter">
            <div class="flexbox" style="padding-top: .5em;">
                <div style="width: 8em;"><label for="">Voorkeurdagen</label></div>
                <div>
                    @for (speelDag of config.speelDagen; let idxSd = $index; track $index) {
                        @if (idxSd < 4) {
                            <div class="flexbox">
                                <div style="width: 2.5em;">
                                    <label for="">
                                        <span>{{idxSd + 1}}</span>
                                        @if (idxSd < 2) {
                                            <span class="req"> *</span>
                                        }
                                    </label>
                                </div>
                                <div style="padding-right: 1.5em;">
                                    <div style="cursor: pointer;" (click)="voorkeurDagClicked(idxSd, -1)">
                                        <i style="padding-right: .25em;" 
                                                [ngClass]="dagen[idxSd] == -1 ? 'fas fa-check-circle' : 'far fa-circle'"></i>
                                        <span style="color: green;">geen</span>
                                    </div>
                                </div>
                                @for (dag of config.speelDagen; track $index) {
                                    <div style="padding-right: 1.5em;">
                                        <div style="cursor: pointer;" (click)="voorkeurDagClicked(idxSd, dag.dagNr)">
                                            <i style="padding-right: .25em;" 
                                                    [ngClass]="dagen[idxSd] == dag.dagNr ? 'fas fa-check-circle' : 'far fa-circle'"></i>
                                            <span style="color: green;">{{dag.dagNaam.substring(0, 2)}}</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="flexbox flexcenter flexmiddle" style="min-height: 3em;">
        <div>
            <app-button [button]="btnSave" [disabled]="!gewijzigd || !dagenValid" (btnClicked)="opslaanClicked()"></app-button>
        </div>
    </div>
</div>
