.poule-button {
    margin: 0 .25em;
    width: 1.5em;
    height: 1.5em;
    font-weight: bold;
    background-color: lightgray;
    color: gray;
    border: 2px solid gray;
    border-radius: .25em;
    cursor: pointer;
}
.poule-button:not(.selected):hover {
    transform: scale(1.25);
}
.poule-button.selected {
    transform: scale(1.25);
    background-color: lightgreen;
    color: darkgreen;
    border-color: darkgreen;
}
