<div class="speler-stand flexbox flexstretch arial" style="height: 14em;">
    @if (position == 'left') {
        <div style="width: 18.25em; padding: 1em 0;">
            <div class="flexbox" style="height: 6em; padding-left: 1.25em;">
                <div style="padding-right: 1em; padding-top: .25em; color: #93cf95;">
                    <span style="font-size: 3.5em;">in</span>
                </div>
                <div style="font-size: 7em;">
                    <app-getal-var [naam]="'brt'" [getal]="'' + aantBrt" [format]="numFormats[1]"></app-getal-var>
                </div>
            </div>
            <div class="flexbox flexmiddle" style="height: 6em; padding-left: 1.25em;">
                <div style="padding-top: .75em;">
                    <app-getal-var style="font-size: 5.5em;" [naam]="'moy'" [getal]="moyView" [format]="'09,999'"></app-getal-var>
                </div>
            </div>
        </div>
        <div class="speler-stand-car flexbox flexcenter flexmiddle" [ngClass]="{'gewijzigd': serie > 0}" style="width: 25.75em;">
            <div style="font-size: 14em;">
                <app-getal-var [naam]="'car'" [getal]="'' + aantCar" [format]="numFormats[0]"></app-getal-var>
            </div>
            @if (enNog > 0 && enNog < 4) {
                <div class="speler-stand-ennog wide">
                    <span style="font-size: 6.5em;">nog </span>
                    <span style="font-size: 8em;">{{enNog}}</span>
                </div>
            }
        </div>
    }
    @else {
        <div class="speler-stand-car flexbox flexcenter flexmiddle" [ngClass]="{'gewijzigd': serie > 0}" style="width: 25.75em;">
            <div style="font-size: 14em;">
                <app-getal-var [naam]="'car'" [getal]="'' + aantCar" [format]="numFormats[0]"></app-getal-var>
            </div>
            @if (enNog > 0 && enNog < 4) {
                <div class="speler-stand-ennog wide">
                    <span style="font-size: 6.5em;">nog </span>
                    <span style="font-size: 8em;">{{enNog}}</span>
                </div>
            }
        </div>
        <div style="width: 18.25em; padding: 1em 0;">
            <div class="flexbox flexright" style="height: 6em; padding-right: 1.25em;">
                <div style="padding-right: 1em; padding-top: .25em; color: #93cf95;">
                    <span style="font-size: 3.5em;">in</span>
                </div>
                <div style="font-size: 7em;">
                    <app-getal-var [naam]="'brt'" [getal]="'' + aantBrt" [format]="numFormats[1]"></app-getal-var>
                </div>
            </div>
            <div class="flexbox flexmiddle flexright" style="height: 6em; padding-right: 1.25em;">
                <div style="padding-top: .75em;">
                    <app-getal-var style="font-size: 5.5em;" [naam]="'moy'" [getal]="moyView" [format]="'09,999'"></app-getal-var>
                </div>
            </div>
        </div>
    }
</div>
