.sectie-row {
    padding: .125em;
}
.sectie-content {
    background-color: #dbefdc;
    border-radius: .5em;
    overflow: hidden;
    border: .0625em solid #1e461f;
}
.sectie-data {
    padding: .125em;
}
.sectie-title {
    min-height: 1.25em;
    line-height: 1.25em;
    background-color: #1e461f;
    color: #b7dfb8;
    text-align: center;
}
.sectie-title span {
    font-size: .75em;
}

.sectie-dag {
    padding: .0625em;
}
.sectie-dag .sectie-title {
    background-color: #265728;
}
.sectie-dag-content {
    background-color: #dbefdc;
    border-radius: .25em;
    overflow: hidden;
    border: .0625em solid #265728;
}
.sectie-dag-data {
    margin: .125em;
}

.sectie-buttons {
    background-color: #dbefdc;
    border-radius: .5em;
}

.poule-button {
    margin: 0 .25em;
    width: 1.5em;
    height: 1.5em;
    font-weight: bold;
    background-color: lightgray;
    color: gray;
    border: 2px solid gray;
    border-radius: .25em;
    cursor: pointer;
}
.poule-button:not(.selected):hover {
    transform: scale(1.25);
}
.poule-button.selected {
    transform: scale(1.25);
    background-color: lightgreen;
    color: darkgreen;
    border-color: darkgreen;
}
