<div class="fullheight flexbox flexcolumn">
    <div class="flexgrow1 flexbox flexstretch" style="overflow: hidden;">
        @for (ppd of poulesPerDagen; track $index) {
            <div class="flex25perc flexbox flexcolumn ppd-kolom">
                <div class="ppd-title">
                    <span>{{ppd.dagNaam}}</span>
                </div>
                <div class="flexgrow1 ppd-body">
                    @for (poul of ppd.poules; track $index) {
                        <div style="font-size: .5em; padding: .25em .25em 0 .25em;">
                            <div class="poule-view" [ngClass]="{'selected': poul.pouleId == poule.pouleId}"
                                        (click)="pouleClicked(poul.pouleId)">
                                <app-ronde-poule-view [poule]="poul" [allowDelete]="false"
                                                    [koppelClick]="false"></app-ronde-poule-view>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div style="min-height: 3.5em; border-top: .125em solid black;">
        <div class="fullheight flexbox flexcenter flexmiddle" style="font-size: .75em;">
            <div style="padding-right: .5em; font-weight: bold;"><label for="">Speeldatum poule </label></div>
            @for (poule of pouleRonde.poules; track $index) {
                <div class="poule-button flexbox flexcenter flexmiddle" [ngClass]="{'selected': $index == idxPoule}"
                                (click)="pouleButtonClicked($index)">
                    <div>{{poule.pouleId}}</div>
                </div>
            }
            <div style="padding: 0 .5em; font-weight: bold;"><label for="">:</label></div>
            <div>
                <select style="width: 7em;" [(ngModel)]="poule.pouleDatum" (change)="pouleDatumSelected()">
                    <option value=""></option>
                    @for (dat of mogelijkePouleSpeelData; track $index) {
                        <option [value]="dat">{{dat}}</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="flexbox flexcenter flexmiddle" style="font-size: .75em; min-height: 3em; border-top: .125em solid black;">
        @if (poulesOk) {
            @if (touched) {
                <div>
                    <app-button [button]="btnSave" (btnClicked)="opslaanClicked()"></app-button>
                </div>
                <div>
                    <app-button [button]="btnSaveNext" (btnClicked)="opslaanClicked(true)"></app-button>
                </div>
            }
            @else {
                <div>
                    <app-button [button]="btnNext" (btnClicked)="exitClicked()"></app-button>
                </div>
            }
        }
        @else {
            <div>
                <app-button [button]="btnSave" [disabled]="!touched" (btnClicked)="opslaanClicked()"></app-button>
            </div>
        }
    </div>
</div>
