<div class="fullheight flexbox flexcolumn" style="font-size: .625em;">
    <div class="flexgrow1 flexbox flexstretch" style="overflow-y: hidden;">
        <div class="flex70perc flexbox flexcolumn">
            <div style="font-size: 1.2em; min-height: 2em; background-color: #b0b0b0; font-weight: bold; text-align: center; line-height: 2em;">
                <span>Toe te voegen koppel</span>
            </div>
            <div class="flexbox flexcenter flexmiddle" style="min-height: 10em;">
                @if (maxKoppelsBereikt) {
                    <div style="font-size: 1.2em; color: blue;">
                        <span>Het maximum aantal koppels is bereikt.</span>
                    </div>
                }
                @else {
                    <div>
                        <div class="flexbox">
                            <div style="width: 8em;"><label for="">Koppel<span class="req"> *</span></label></div>
                            <div class="koppel-row">
                                <app-koppel-row [koppel]="koppelToAdd" [view]="'extended-single'"></app-koppel-row>
                            </div>
                        </div>
                        <div class="flexbox" style="padding-top: .5em;">
                            <div style="width: 8em;"><label for="">Voorkeurdagen</label></div>
                            <div>
                                @for (speelDag of config.speelDagen; let idxSd = $index; track $index) {
                                    @if (idxSd < 4) {
                                        <div class="flexbox">
                                            <div style="width: 2.5em;">
                                                <label for="">
                                                    <span>{{idxSd + 1}}</span>
                                                    @if (idxSd == 0) {
                                                        <span class="req"> *</span>
                                                    }
                                                </label>
                                            </div>
                                            <div style="padding-right: 1.5em;">
                                                <div style="cursor: pointer;" (click)="voorkeurDagClicked(idxSd, -1)">
                                                    <i style="padding-right: .25em;" 
                                                            [ngClass]="koppelToAdd.voorkeurDagen[idxSd] == -1 ? 'fas fa-check-circle' : 'far fa-circle'"></i>
                                                    <span style="color: green;">geen</span>
                                                </div>
                                            </div>
                                            @for (dag of config.speelDagen; track $index) {
                                                <div style="padding-right: 1.5em;">
                                                    <div style="cursor: pointer;" (click)="voorkeurDagClicked(idxSd, dag.dagNr)">
                                                        <i style="padding-right: .25em;" 
                                                                [ngClass]="koppelToAdd.voorkeurDagen[idxSd] == dag.dagNr ? 'fas fa-check-circle' : 'far fa-circle'"></i>
                                                        <span style="color: green;">{{dag.dagNaam.substring(0, 2)}}</span>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                            <div style="width: 22em;" class="flexbox flexright flexend">
                                <div class="flexbox">
                                    <div>
                                        <app-button [button]="btnCancel" (btnClicked)="cancelClicked()"></app-button>
                                    </div>
                                    <div>
                                        <app-button [button]="btnOk" [disabled]="!koppelToAddValid" (btnClicked)="okClicked()"></app-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div style="font-size: 1.2em; min-height: 2em; background-color: #b0b0b0; text-align: center; line-height: 2em;">
                <span style="font-weight: bold;">Toegevoegde koppels </span>
                <span> (nog niet opgeslagen)</span>
            </div>
            <div class="flexbox flexcenter flexmiddle" style="min-height: 2em; color: green; padding-right: 16px;">
                <div class="flexbox">
                    <div style="width: 4em;">
                        <span>ID</span>
                    </div>
                    <div style="width: 15em;">
                        <span>Speler 1</span>
                    </div>
                    <div style="width: 2em;"></div>
                    <div style="width: 15em;">
                        <span>Speler 2</span>
                    </div>
                    <div style="width: 2em;"></div>
                    <div style="width: 8em;">
                        <span>Moyenne</span>
                    </div>
                    <div style="width: 14em;">
                        <span>Voorkeurdagen</span>
                    </div>

                </div>
            </div>
            <div class="flexgrow1 flexbox flexcenter" style="overflow-y: scroll;">
                <div>
                    @for (kopAdded of koppelsAdded; track $index) {
                        <div class="koppel-row">
                            <app-koppel-row [koppel]="kopAdded" [speelDagen]="config.speelDagen" [selectable]="true" 
                                            (clicked)="koppelAddedClicked($index)"></app-koppel-row>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="flex30perc fullheight flexbox flexcolumn" style="border-left: .25em solid black;">
            <div style="font-size: 1.2em; min-height: 2em; background-color: #b0b0b0; font-weight: bold; text-align: center; line-height: 2em;">
                <span>Te kiezen spelers</span>
            </div>
            <div class="flexbox flexcenter flexmiddle list-header" style="min-height: 2em; padding-right: 16px;">
                <div class="sortable" style="width: 14em;">
                    <span (click)="sortClicked('nam')">Naam</span>
                    @if (sortCol == 'nam') {
                        <i class="fas" [ngClass]="sortDir == 1 ? 'fa-sort-up' : 'fa-sort-down'" style="padding-left: .25em;"></i>
                    }
                </div>
                <div class="sortable" style="width: 4em;">
                    <span (click)="sortClicked('moy')">Moy</span>
                    @if (sortCol == 'moy') {
                        <i class="fas" [ngClass]="sortDir == 1 ? 'fa-sort-up' : 'fa-sort-down'" style="padding-left: .25em;"></i>
                    }
                </div>
            </div>
            <div class="flexgrow1 flexbox flexcenter" style="overflow-y: scroll;">
                <div>
                    @for (spl of spelers; track $index) {
                        <div class="flexbox list-row" (click)="spelerClicked($index)">
                            <div style="width: 14em;">
                                <span>{{helper.getSpelerNaam(spl)}}</span>
                            </div>
                            <div style="width: 4em;">
                                <span>{{spl.moyenne | number:'1.3-3':'nl-NL'}}</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div style="min-height: 2em; background-color: #b0b0b0; text-align: center; line-height: 2em;">
                <span>Aantal over : <b>{{spelers.length}}</b></span>
            </div>
        </div>
    </div>
    @if (koppelsAdded.length || btnCopyPrev.text != '') {
        <div class="flexbox flexcenter flexmiddle" style="min-height: 3em; border-top: .125em solid black;">
            @if (koppelsAdded.length) {
                <app-button [button]="btnSave" (btnClicked)="opslaanClicked()"></app-button>
            }
            @if (btnCopyPrev.text != '') {
                <app-button [button]="btnCopyPrev"></app-button>
            }
        </div>
    }
</div>
