.ronde-container {
    background-color: #1e461f;
    color: #dbefdc;
    border: .1875em solid #1e461f;
    border-radius: .5em;
    padding: .1875em;
    margin: .125em 0;
    cursor: pointer;
}
.ronde-container:hover {
    border-color: #b80000;
}

.ronde-nummer {
    width: 2.5em;
    height: 2.5em;
    background-color: #2e6830;
    color: #dbefdc;
    border-radius: 50%;
}
.ronde-nummer > div {
    font-size: 1.25em;
    line-height: 1;
}
.ronde-container.selected .ronde-nummer {
    background-color: #b7dfb8;
    color: #1e461f;
    font-weight: bold;
}

.ronde-status {
    color: #3d8b40;
}
.ronde-status > div {
    font-size: .625em;
    line-height: 1.2;
}
.ronde-status > div.bereikt {
    color: #dbefdc;
    font-weight: bold;
}