<!-- <div class="fullheight">
    @for (wed of wedstrijden; let idxW = $index; track $index) {
        <div class="row-wedstrijd">
            <div class="wedstrijd flexbox flexstretch" [ngClass]="{'selected': idxSel == idxW}" (click)="wedstrijdClicked(idxW)">
                <div class="col-header flexbox flexcenter flexmiddle">
                    <div class="wed-bal arial">
                        <span>{{idxW + 1}}</span>
                    </div>
                </div>
                <div class="col-speler">
                    <div class="wed-speler ">
                        <div class="row-naam" style="text-align: right;">
                            <span style="font-size: 1.75em;">{{koppels[0].spelers[idxW].splNaam}}</span>
                        </div>
                        @if (wed.uitslag.brt > 0) {
                            <div class="fullheight flexbox flexstretch">
                                <div style="width: 6em; height: 5em;" class="wed-punten flexbox flexcenter flexmiddle">
                                    <div style="width: 3em; height: 3em;" class="biljartbal" data-kleur
                                                [ngClass]="wed.metWit ? 'wit' : 'geel'">
                                    </div>
                                </div>
                                <div style="width: 5em; height: 5em;" class="wed-punten flexbox flexcenter flexmiddle arial">
                                    <div style="font-size: 3em; color: #c40000;"><b>{{wed.uitslag.pnt}}</b></div>
                                </div>
                                <div class="wed-score flexgrow1 flexbox flexcolumn flexend arial">
                                    <div>
                                        <span style="font-size: 1.75em;"><b>{{wed.uitslag.car}}</b></span>
                                    </div>
                                    <div>
                                        <span style="font-size: 1.25em; padding-right: .75em;">{{koppels[0].spelers[idxW].splMoy | number:'1.3-3':'nl-NL'}}</span>
                                        <span style="font-size: 1.75em;"><b>{{wed.uitslag.moy | number:'1.3-3':'nl-NL'}}</b></span>
                                    </div>
                                    <div>
                                        <span style="font-size: 1.75em;"><b>{{wed.uitslag.ser}}</b></span>
                                    </div>
                                </div>
                            </div>
                        }
                        @else if (idxWedBezig == idxW) {
                            <div class="fullheight flexbox flexcenter">
                                <div style="padding-top: 1.5em;">
                                    <span style="font-size: 1.25em; color: #93cf95;">Wedstrijd is al gestart...</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-tussen flexbox flexcolumn flexmiddle">
                    <div style="padding-top: .25em;">
                        <i style="font-size: 2em;" class="fas fa-arrows-alt-h"></i>
                    </div>
                    @if (wed.uitslag.brt > 0) {
                        <div style="padding-top: 0;">
                            <span style="font-size: 1.25em;">CAR</span>
                        </div>
                        <div style="padding-top: .1875em;">
                            <span style="font-size: 1.25em;">MOY</span>
                        </div>
                        <div style="padding-top: .1875em;">
                            <span style="font-size: 1.25em;">SER</span>
                        </div>
                    }
                </div>
                <div class="col-speler">
                    <div class="wed-speler">
                        <div class="row-naam">
                            <span style="font-size: 1.75em;">{{koppels[1].spelers[idxW].splNaam}}</span>
                        </div>
                        @if (wed.uitslag.brt > 0) {
                            <div class="fullheight flexbox flexstretch">
                                <div class="wed-score flexgrow1 flexbox flexcolumn arial">
                                    <div>
                                        <span style="font-size: 1.75em;"><b>{{wed.uitslag.car}}</b></span>
                                    </div>
                                    <div>
                                        <span style="font-size: 1.75em;"><b>{{wed.uitslag.moy | number:'1.3-3':'nl-NL'}}</b></span>
                                        <span style="font-size: 1.25em; padding-left: .75em;">{{koppels[1].spelers[idxW].splMoy | number:'1.3-3':'nl-NL'}}</span>
                                    </div>
                                    <div>
                                        <span style="font-size: 1.75em;"><b>{{wed.uitslag.ser}}</b></span>
                                    </div>
                                </div>
                                <div style="width: 5em; height: 5em;" class="wed-punten flexbox flexcenter flexmiddle arial">
                                    <div style="font-size: 3em; color: #c40000;"><b>{{wed.uitslag.pnt}}</b></div>
                                </div>
                                <div style="width: 6em; height: 5em;" class="wed-punten flexbox flexcenter flexmiddle">
                                    <div style="width: 3em; height: 3em;" class="biljartbal" data-kleur 
                                                [ngClass]="wed.metWit ? 'wit' : 'geel'">
                                    </div>
                                </div>
                            </div>
                        }
                        @else if (idxWedBezig == idxW) {
                            <div class="fullheight flexbox flexcenter">
                                <div style="padding-top: 1.5em;">
                                    <span style="font-size: 1.25em; color: #93cf95;">Wedstrijd is al gestart...</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row-wedstrijd">
        <div class="wedstrijd totaal flexbox flexstretch">
            <div class="col-header flexbox flexcenter flexmiddle">
                <div>
                    <span style="font-size: 1.75em;">Totaal</span>
                </div>
            </div>
            <div class="col-speler">
                <div class="wed-speler totaal">
                    <div class="row-naam" style="text-align: right;">
                        <span style="font-size: 1.75em;">Koppel {{koppels[0].kopId}}</span>
                    </div>
                    @if (match.uitslag.brt > 0) {
                        <div class="fullheight flexbox flexstretch">
                            <div style="width: 6em; height: 5em;" class="wed-punten flexbox flexcenter flexmiddle"></div>
                            <div style="width: 5em; height: 5em;" class="wed-punten flexbox flexcenter flexmiddle arial">
                                <div style="font-size: 3em; color: darkred;"><b>{{match.uitslag.pnt}}</b></div>
                            </div>
                            <div class="wed-score flexgrow1 flexbox flexcolumn flexend arial">
                                <div>
                                    <span style="font-size: 1.75em;"><b>{{match.uitslag.car}}</b></span>
                                </div>
                                <div>
                                    <span style="font-size: 1.25em; padding-right: .75em;">{{koppels[0].kopMoyenne | number:'1.3-3':'nl-NL'}}</span>
                                    <span style="font-size: 1.75em;"><b>{{match.uitslag.moy | number:'1.3-3':'nl-NL'}}</b></span>
                                </div>
                                <div>
                                    <span style="font-size: 1.75em;"><b>{{match.uitslag.ser}}</b></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-tussen flexbox flexcolumn flexmiddle">
                <div style="padding-top: .25em;">
                    <i style="font-size: 2em;" class="fas fa-arrows-alt-h"></i>
                </div>
                @if (match.uitslag.brt > 0) {
                    <div style="padding-top: 0;">
                        <span style="font-size: 1.25em;">CAR</span>
                    </div>
                    <div style="padding-top: .1875em;">
                        <span style="font-size: 1.25em;">MOY</span>
                    </div>
                    <div style="padding-top: .1875em;">
                        <span style="font-size: 1.25em;">SER</span>
                    </div>
                }
            </div>
            <div class="col-speler">
                <div class="wed-speler totaal">
                    <div class="row-naam">
                        <span style="font-size: 1.75em;">Koppel {{koppels[1].kopId}}</span>
                    </div>
                    @if (match.uitslag.brt > 0) {
                        <div class="fullheight flexbox flexstretch">
                            <div class="wed-score flexgrow1 flexbox flexcolumn arial">
                                <div>
                                    <span style="font-size: 1.75em;"><b>{{match.uitslag.car}}</b></span>
                                </div>
                                <div>
                                    <span style="font-size: 1.75em;"><b>{{match.uitslag.moy | number:'1.3-3':'nl-NL'}}</b></span>
                                    <span style="font-size: 1.25em; padding-left: .75em;">{{koppels[1].kopMoyenne | number:'1.3-3':'nl-NL'}}</span>
                                </div>
                                <div>
                                    <span style="font-size: 1.75em;"><b>{{match.uitslag.ser}}</b></span>
                                </div>
                            </div>
                            <div style="width: 5em; height: 5em;" class="wed-punten flexbox flexcenter flexmiddle arial">
                                <div style="font-size: 3em; color: darkred;"><b>{{match.uitslag.pnt}}</b></div>
                            </div>
                            <div style="width: 6em; height: 5em;" class="wed-punten flexbox flexcenter flexmiddle">
                                
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div> -->
