.voorkeurdag {
    color: green;
    cursor: pointer;
}
.voorkeurdag:hover {
    color: darkgreen;
}

.poule-uitslag {
    color: red;
    font-weight: bold;
    padding-left: 2.5em;
}
.poule-uitslag div {
    width: 1.5em;
    text-align: right;
}