/* sectie containers */

.container {
    padding: .125em;
}
.container.links {
    padding-right: .0625em;
}
.container.rechts {
    padding-left: .0625em;
}
.container.boven {
    padding-bottom: .0625em;
}
.container.onder {
    padding-top: .0625em;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

/* secties */

.sectie {
    border-radius: .5em;
    background-color: #b7dfb8;
    color: #163317;
    overflow: hidden;
}
.sectie.square {
    border-radius: 0;
}
.sectie.donker {
    background-color: #163317;
    color: #b7dfb8;
}
.sectie-title {
    background-color: #163317;
    color: #dbefdc;
    min-height: 1.25em;
    font-weight: bold;
    text-align: center;
}
.sectie-sub-title {
    color: #93cf95;
    font-weight: normal;
}
.sectie.donker .sectie-title {
    background-color: #6ec071;
    color: #163317;
}
.sectie.donker .sectie-sub-title {
    color: #265728;
}
.sectie-title > div {
    padding: 0 .375em;
}

.sectie-content.met-rand {
    border-left: .0625em solid #163317;
    border-right: .0625em solid #163317;
    border-bottom: .0625em solid #163317;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
.square .sectie-content.met-rand {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.speeldag.poule {
    height: 1.25em;
    background-color: #2e6830;
    color: #dbefdc;
    padding: 0 .25em;
    border-radius: .375em;
    overflow: hidden;
    cursor: default;
}
.speeldag.poule.selectable {
    background-color: #163317;
    cursor: pointer;
}
.speeldag.poule.selectable:hover {
    background-color: darkred;
}
.speeldag.poule .dag-content {
    background-color: #dbefdc;
    color: #163317;
}

/* scroll areas */

.scroll-container {
    padding: 0 .25em .25em .25em;
    overflow-y: hidden;
}
.scroll-container.no-header {
    padding-top: .25em;
}
.scroll-sectie {
    height: 100%;
}
.scroll-container .scroll-sectie {
    overflow-y: scroll; 
}
.scroll-container.no-header .scroll-sectie {
    overflow-y: auto; 
}

/* lijsten */

.lijst-header {
    min-height: 2em; 
    color: #2e6830;
}
.lijst-header .sortable {
    font-weight: bold;
    cursor: pointer;
}
.lijst-header .sortable .fas.fa-sort {
    color: #459c48;
}
.lijst-header.with-scroll {
    padding-right: 16px;
}
.lijst-row {
    padding: 0 1em;
    border-radius: .375em;
    color: #163317;
}
.lijst-row.clickable:hover {
    background-color: #dbefdc;
}
.lijst-row.hoverable:hover {
    background-color: #dbefdc;
}

/* misc */

.clickable {
    cursor: pointer;
}