.poule-view {
    width: 100%;
    cursor: pointer;
    /* padding-bottom: .125em; */
}
.poule-view:hover .sectie-content {
    background-color: #dbefdc;
}
.poule-view.selected .sectie-title {
    background-color: darkred;
}
.poule-view.finished .sectie-content {
    background-color: #265728;
    color: #b7dfb8;
}
.poule-view.finished:hover .sectie-content {
    background-color: #357a38;
}
