<div style="overflow: hidden; border-radius: .25em;">
    <div class="dialog-header">
        <span>{{dialog.title}}</span>
    </div>
    <div class="dialog-content">
        @for (txt of dialog.texts; track $index) {
            <div>
                <span>{{txt}}</span>
            </div>
        }
        @if (sure) {
            <div style="padding-top: .25em;">
                <span>{{dialog.sureText}}</span>
            </div>
        }
    </div>
    <div class="dialog-footer flexbox flexright">
        <app-button [button]="btnCancel" (btnClicked)="canceled()"></app-button>
        <app-button [button]="btnConfirm" (btnClicked)="confirmed()"></app-button>
    </div>
</div>
